body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  background-image: url("https://www.worldatlas.com/r/w728-h425-c728x425/upload/70/32/73/shutterstock-310887800.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

header {
  font-family: "Courgette", cursive;
  margin: 0px;
  padding: 0px;
}

.header-title {
  display: flex;
  justify-content: center;
  background-color: #1E392A;
  margin: 0;
}

.header-container {
}

.header-title-link {
  text-decoration: none;
  color: #3CC47C;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.main-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.main-content-image {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin-top: 20px;
}

.main-content-section {
  display: flex;
  flex-direction: column;
}

.main-content-title-heading {
  font-family: "Courgette", cursive;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  color: #1E392A;
  border-radius: 20px;
  background-color: #828081;
  width: 130px;
  text-align: center;
}

.main-content-paragraph {
    margin: 10px;
    padding: 10px;
    color: #1E392A;
    background-color: #E9C893;
    border-radius: 20px;
    
    
}

.main-content-list {
    list-style: none;
    color: #1E392A;
    margin: 10px;
    padding: 10px;
    
}

.purchase {
    color:  #3CC47C ;
}

@media only screen and (min-width:768px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    position: absolute;
    background-image: url("https://www.worldatlas.com/r/w728-h425-c728x425/upload/70/32/73/shutterstock-310887800.jpg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}
  
  
  header {
    font-family: "Courgette", cursive;
    margin: 0px;
    padding: 0px;
  }
  .header-container{
    }
  
  .header-title {
    display: flex;
    justify-content: center;
    background-color: #1E392A;
  }
  
  .header-title-link {
    text-decoration: none;
    /* color: #3CC47C; */
    
  }
  .header-navigation{
      display: flex;
      justify-content: flex-end;
      text-decoration: none;
      flex-direction: column;
  }

  .header-navigation-list {
      display: flex;
      text-decoration: none;
      flex-direction: column;
  }

  .header-navigation-list-item {
      display: flex;
      text-decoration: none;
      flex-direction: column;
      padding: 10px;
      margin: 10px;
  }
  
  .main-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  }
  
  .main-content-image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .main-content-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .main-content-title-heading {
    font-family: "Courgette", cursive;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: #1E392A;
    border-radius: 20px;
    background-color: #828081;
    width: 130px;
    text-align: center;
   
  }
  
  .main-content-paragraph {
    margin: 10px;
    padding: 10px;
    color: #1E392A;
    background-color: #E9C893;
    border-radius: 20px;
  }
  
  .main-content-list {
      display: flex;
      list-style: none;
      color: #828081;
      margin: 10px;
      padding: 10px;
      background-color: #E9C893;
      border-radius: 10px;   
  }
  
  .purchase {
      color:  #3CC47C;
      margin-right: 10px;
  }

  .main-content-navigation {
    display: flex;
    list-style: none;
  }

  .main-content-navigation-link {
    display: flex;
  }
}